@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap&subset=cyrillic,cyrillic-ext');
body {
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
/* 	background-color: gainsboro; */
	font-family: Comfortaa, cursive;
}
.container {
	background-color: #0b0e1ede;
	color: white;
}
input, select, textarea{
  background-color: #00000050 !important;
	color: gray !important;
	border-color: #444 !important;
}
button {
	background-color: transparent !important;
	border-radius: 2px !important;
}
button:hover{
	background-color: rgba(0, 123, 255, 0.2) !important;asdf
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

